// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//My CSS
body {
    font-size: 10px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    body {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 16px;
    }
}

.logo {
    max-width: 8em;
    max-height: 8em;
}

.btn-lg {
    padding: 1rem 1.3rem;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 0.5rem;
    background-color: #FE0000;
    border-color: #EEEEEE;
    border-width: 5px;
    height: 5em;
}

.btn-lg-cashbox {
    padding: 20px 24px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 6px;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE;
    border-style: solid none;
    border-width: 3px 0;
    margin: 18px 0;
}

.pharmacy-header {
    font-size: 3em;
    font-weight: 700;
    color: red;
}

.please-header {
    font-size: 2.5em;
    font-weight: 500;
}

.time-footer {
    padding-top: 12px;
    padding-right: 15px;
    font-size: 2em;
    font-weight: 700;
}

.date-footer {
    padding-bottom: 0;
    font-size: 3em;
    font-weight: 700;
}

.info-footer {
    font-size: 1.5em;
    font-weight: 700;
}

table tr {
    text-align: center;
}

.board-header {
    background-color: #F4154E;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.table-striped > tbody > tr {
    font-size: 25px;
    font-weight: 600;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #FFAAC1;
}

.vertical-center {
    min-height: 90%; /* Fallback for browsers do NOT support vh unit */
    min-height: 90vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    ._btn-lg {
        font-size: 1.8rem;
    }
}

@media (min-width: 1200px) {
    ._btn-lg {
        font-size: 2rem;
    }
}

.blink {
    animation: blinker_tx 2s linear infinite;
}

@keyframes blinker_tx {
    50% {
        opacity: 0;
    }
}

.separator {
    animation: blinker 2s steps(1, start) infinite;
}

@keyframes blinker {
    30% {
        opacity: 0;
    }
}

.opacity {
    opacity: .1;
}

.opacity-call {
    opacity: .1;
}

.disable-copy {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
